.action-description {
  resize: vertical;
  min-height: 40px;
}

.action-input {
  margin-bottom:15px;
}

.contentCenteredVertically {
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  .actionRow {
    display:block;
    border: 0px;
    border-bottom: 1px solid #ddd;
  }

  .actionCell {
    width:100%;
    display:block;
  }
  
  .action-buttonCell {
    width:100%;
  }

  .action-buttonCell Button {
    margin-right: 5px;
  }
}

@media (min-width: 575.98px) {
  .actionRow {
    display:flex;
    border: 0px;
    border-bottom: 1px solid #ddd;
  }
  
  .actionRow > div {
    display: flex;
    -webkit-transition: width 0.5s; /* Safari */
    transition: width 0.5s;
  }
  
  .actionRow:hover .actionCell, .actionRow-expanded .actionCell{
    width: Calc(100% - 85px);
  }
  
  .actionRow:hover .action-buttonCell, .actionRow-expanded .action-buttonCell{
    width: 80px;
  }

  .actionCell {
    width:100%;
  }
  
  .action-buttonCell {
    width:0px;
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
    padding-left: 5px;
  }

  .action-buttonCell Button {
    margin-bottom: 5px;
  }
}