.movement-form-col {
    padding-left:0px;
}
.movement-input {
    padding-left:0px;
}

.form-group .movement {
    margin:0px;
}

.movement-form{
    margin-top: 15px;
}

.panel.movement-panel{
    border: none;
    box-shadow: none;
}

.panel.movement-panel  .panel-body{
    padding:0;
}

.btn.remove-button {
    border-radius: 50%;
}