.formRow {
	padding-bottom: 15px;
}

.form-help {
	color: grey;
	font-size: 11px;
}

.form-static-text {
	padding-left: 5px;
}

.form-col {
	padding-bottom: 15px;
}

.panel-body {
	padding-bottom: 0px;
}