body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.has-float-label .form-control:placeholder-shown:not(:focus)+* {
  font-size:100%;
  overflow-x:hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 10px);
  height: 100%;/*calc(100% + 10px);*/
  top: 0.8em;
}

.has-float-label .form-control.input-sm:placeholder-shown:not(:focus)+* {
  top:0.5em;
}
