
.ability-description {
    resize: vertical;
    min-height: 40px;
}

.ability-input {
    margin-bottom:15px;
}

.contentCenteredVertically {
    vertical-align: middle;
}

.abilityCell {
    width:100%;
}

.buttonCell {
    width:0px;
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
}

.abilityRow {
    display:flex;
    border: 0px;
    border-bottom: 1px solid #ddd;
}

.abilityRow > div {
    display: flex;
    -webkit-transition: width 0.5s; /* Safari */
    transition: width 0.5s;
}

.abilityRow:hover .abilityCell{
    width: Calc(100% - 52px);
}

.abilityRow:hover .buttonCell{
    width: 50px;
}